# CompileFlags:
#   Add:
#     - -target
#     - arm-none-eabi
#     - -I/home/bazzite/code/gba/butano/butano/include
#     - -Iinclude
#
#   # QueryDriver:
#   #   - /opt/devkitpro/*/bin/*
#   #   - C:/devkitPro/*/bin/*
#   #   - /usr/bin/arm-none-eabi-*
#
# # Remove compiler flags that clangd doesn't natively understand 
# # to prevent irrelevant warnings
# Diagnostics:
#   Suppress: ["drv_unknown_argument"]
#
CompileFlags:
  Add: [
    "-target", "arm-none-eabi",
    "-std=c++20",
    "-fno-ms-extensions",
    "-fno-exceptions",
    
    # Force your local Butano implementation include folders
    "-I", "home/bazzite/code/gba/butano/butano/include",
    "-I", "home/bazzite/code/gba/butano/butano/include",

    # Force devkitARM compiler system includes explicitly 
    "-isystem", "/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/16.1.0/",
    "-isystem", "/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/16.1.0/arm-none-eabi",
    "-isystem", "/opt/devkitpro/devkitARM/arm-none-eabi/include"
  ]
  Remove: [
    "-specs=.*",
    "-mthumb-interwork",
    "-fno-conserve-stack",
    "-mthumb"
  ]
